.title{
  color:#ffffff;
}
#search-toolbar{
  padding-left:10px;
  padding-right:10px;
  ion-searchbar{
    --border-radius: 15px;
    margin:0 auto 10px;
    padding-top:13px;
    padding-bottom:10px;
    font-size:18px;
    color:#f20c0c;
  }
}

