<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="btn-back" slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-buttons class="btn-cart-heart" slot="end">
      <ion-icon name="cart" class="cart"></ion-icon>
      <ion-icon name="heart"  class="heart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <!-- <app-products [products]="products"></app-products> -->

</ion-content>
