ion-gird {
  height: 40px;
  margin-top: 10px;
  padding-inline-start: 12px;
  padding-inline-end: 0;
}

h1 {
  font-size: 18px;
  color: #818181;
}

ion-button {
  margin-right: auto;
  font-size: 16px;
  text-transform: initial;
}
.categoryTitle{
  padding-top: 15px;
.title{
  text-align: center;
  h1{
    font-size: 23px;
  }
}
}
