<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      أمنياتي
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  <!-- <ion-button expand="full" (click)="openDetails()">Go to Details with function</ion-button>
  <ion-button (click)="go('habib')">
    with parameter
  </ion-button>

  <h2 [routerLink]="['/favoriteTab']" [queryParams]="{id:1, name:'h'}">paramas</h2> -->

  <!-- <ion-button expand="full" [routerLink]="/test" routerDirection="forward">Go to Details with link</ion-button>
  <ion-button expand="full" (click)="goToPlanets()" >Switch to Planets</ion-button> -->
</ion-content>
